
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <form ng-submit="login()" class="form-signin">
                <p>
                  <input type="text" ng-model="user" class="form-control" placeholder="User" required autofocus>
                </p><p>
                <input type="password" ng-model="password" class="form-control" placeholder="Password" required>
                </p><p>
                <button class="btn" type="submit">Login</button>
                </p>
                </form>
            </div>
        </div>
    </div>
</div>