htdocs/reatha/application/config/database.php
htdocs/reatha/application/config/config.php
htdocs/reatha/index.php
htdocs/reatha/.htaccess
htdocs/reatha/application/cache/*
htdocs/reatha/application/logs/*
