#user-device-wrapper{
	cursor: pointer;
}

#user-device-variables{
	height: 200px;
}

.td-notification-list-row-caption{
	width: 25%;
}

.td-notification-list-action{
	width: 15%;
}

#notification-list-action{
	margin-bottom: 5px;
}

.login-table{
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
}

.td-login-copyright{
	font-size: 12px;
}