#user-device-wrapper{
	font-size: 1.6em;
	line-height: 30px;
	cursor: pointer;
}

.user-device-has-view{
	cursor: pointer;
}

#user-device-variables{
	height: 200px;
}

.table-user-notification-list{
	width: 450px;
	display: block;
}

#td-notification-list-checkbox{
	width: 20px;
	height: 20px;
	background: #fff;
}

.td-notification-list-name{
	width: 50%;
}

.td-notification-list-toggle{
	width: 1%;
}

.user-notification-indicator{
	width: 25px;
	height: 25px;
	background: #c3c3c3;
	border-radius: 12px;
}

.triggered{
	background: #ed1c24;
}

.td-notification-list-reset{
	width: 2%;
}

.td-notification-list-row-caption{
	width: 25%;
}

.td-notification-list-action{
	width: 50%;
}

#notification-list-action{
	margin-bottom: 5px;
}

.login-table{
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
}

.td-login-copyright{
	font-size: 0.75em;
	text-align: center;
}

#user-devices-list{
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

#user-device-notification-setup{
	margin-top: 5px;
}

#user-device-data{
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	float: none;	
}

#user-device-data-title{
	text-align: center;
	font-size: 1.3em;
}

textarea#view-body, textarea#device-list-view-body{
	width: 400px;
	height: 150px;
}

.da-image{
	width: 160px;
}

.da-td-view-name{
	text-align: center;
	width: 18%;
}

.da-td-view-actions{
	width: 15%;
	text-align: center;
}

#view-preview{
	width: 450px;
	overflow: hidden;
}

.install-wrapper{
	width:400px; text-align: center; margin-left: auto; margin-right: auto	
}

.login-forgot{
	display: inline;
}

#da-header-menu-dropdown{
	display: none;
}

select, input[type="file"]{
	height: 1.9em;
} 

.da-device-key{
	width:95%;
	word-wrap:break-word;
	padding: 0px;
	resize:none;
}

.table-da-notification-list{
	width: 650px;
	display: block;
}	

@media (min-width: 768px) and (max-width: 979px) { 
	body#main-body {
	   font-size: large; 
	}
	#main-container, .install-wrapper{
		width: 80%;
	}	
 	.form-horizontal .install-label{
 		width: 50%;
 	}

 	table.login-table{
 		margin-top: 40px;
 	}
	#da-header-menu{
		display: none;
	}
	#da-header-menu-dropdown{
		display: block;
	}
	#main-brand{
		display: none;
	}
	.da-device-key{
		font-size: 0.7em;	
	}		
	#user-device-data{
		width: 90%;
		margin: 0px auto;
	} 	
}


@media (max-width: 767px) {

	body#main-body {
	   font-size: large; 
	   padding: 0px;
	}
	#main-container, .install-wrapper{
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
 	.form-horizontal .install-label{
 		width: 45%;
 	}	
	#install-navbar{
		display: none;
	}
 	table.login-table{
 		margin-top: 10px;
 	}	
	.login-forgot{
		display: block;
		padding-top: 15px;
	} 
	#main-navbar{
		font-size: medium;
	}
	#main-brand{
		display: none;
	}	
	#da-header-menu{
		display: none;
	}
	#da-header-menu-dropdown{
		display: block;
	}	

	#user-devices-list{
		width: 90%;
		margin: 0px auto;
		font-size: small;
	}	
	.da-device-key{
		font-size: 0.5em;	
	}

	#user-device-data{
		width: 90%;
		margin: 0px auto;
		font-size: small;
	} 		
}