#user-device-wrapper{
	font-size: 22px;
	line-height: 30px;
}

.user-device-has-view{
	cursor: pointer;
}

#user-device-variables{
	height: 200px;
}

.td-notification-list-row-caption{
	width: 25%;
}

.td-notification-list-action{
	width: 15%;
}

#notification-list-action{
	margin-bottom: 5px;
}

.login-table{
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
}

.td-login-copyright{
	font-size: 12px;
}

#user-devices-list{
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

#user-device-notification-setup{
	margin-top: 5px;
}

#user-device-data{
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	float: none;	
}

#user-device-data-title{
	text-align: center;
	font-size: 18px;
}

textarea#view-body{
	width: 400px;
	height: 100px;
}